@font-face
{
    font-family: Poppins;
    src: url("Fonts/poppins/Poppins-Regular.ttf")
}
@font-face
{
    font-family: Poppins;
    src: url("Fonts/poppins/Poppins-Bold.ttf");
    font-weight: bold;
}
body
{
    background-image: url("https://lirp.cdn-website.com/0ec4144d/dms3rep/multi/opt/family-mediation-hawaii-2-2880w.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Poppins;
    --color1: #896c24;
    --color2: #5b4a00;
    --color3:#ffffff;
}
header, footer, header a
{
    color: var(--color3) !important;
}

.dropdown
{
    color: var(--color3) ;
}
.color1
{
    background-color: var(--color1);
}
.color2
{
    background-color: var(--color2);
}
.color3
{
    background-color: var(--color3);
}
.hidden
{
    display: none;
}
#wrapper
{
    min-height: 100vh;
}
#content
{
    position: relative;
    margin-top: 5%;
    background-color: var(--color3);
    min-height: 100vh;
}
#parentForm
{
    background-color: white;
}
#childrenForm
{
  background-color: white;
}
button
{
    background-color: var(--color1);
    color: var(--color3) ;
}

.active-link {
    font-weight: bold;
}

