@font-face
{
    font-family: Poppins;
    src: url("Fonts/poppins/Poppins-Regular.ttf")
}
@font-face
{
    font-family: Poppins;
    src: url("Fonts/poppins/Poppins-Bold.ttf");
    font-weight: bold;
}
body
{
    font-family: Poppins;
    --color1: #896c24;
    --color2: #5b4a00;
    --color3:#ffffff;
}
header, footer
{
    color: var(--color3) !important;
}
.color1
{
    background-color: var(--color1);
}
.color2
{
    background-color: var(--color2);
}
.color3
{
    background-color: var(--color3);
}
.hidden
{
    display: none;
}
#content
{
    min-height: 100vh;
}
button
{
    background-color: var(--color1);
}